#empire-filter-toolbar__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem
}

#empire-filter-toolbar__hovered-title {
  opacity: 1;
  min-height: 1.25rem;
  text-align: center;
  animation: 1s hoverEmpireTitle 1s reverse both
}

@keyframes hoverEmpireTitle {
  0% { opacity: 1.0; }
  75% { opacity: 1.0; }
  100% { opacity: 0.0; }
}
