@font-face {
  font-family: 'Coalition';
  src: local('Coalition'), url(./fonts/coalition_v2.woff) format('woff');
}

* {
  margin: 0;
  padding: 0
}

body {
  color: #000000;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#react-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #000000
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h4 {
  font-family: Coalition
}
